<div class="title">
  <h1 align="center"><%= @title %></h1>
  <div class="row">
    <div class="col-span-10">
      <div align="center">
        <%= link_to "Let's Go", events_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
