@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Permanent Marker', cursive;
  background-image: url("log.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: white;
  }

  thead {
    color: white;
    font-size: 30px;
    vertical-align: center;
  }

  td {
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    vertical-align: middle;
  } 
}


.title {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    .btn {
      margin-top: -130px;
    }
}

.card {
  text-align: center;
  color: #fff;
}

.card-block {
  text-align: center;
}

.btn {
  margin-top: 10px;
}

.field {
  display: inline-block;
  margin-top: 10px;
  text-align: right;
  vertical-align: middle;
}

textarea {
  color: black;
  vertical-align: middle;
}

input {
  color: black;
}

label {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
}


